<!DOCTYPE html>   
  
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    @*<title>Hello Word</title>*@
</head>

<body>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="sidebar-nav well">
                    <ul>                
                                               
                        @foreach (var departamento in ViewBag.Departamentos)
                        {
                            <li class="nav-header">@departamento.Nome</li>

                            foreach (var categoria in departamento.Categorias)
                            {
                                <li>@categoria.Nome</li>     
                            }
                        }

                    </ul>
                </div>

            </div>
            <div class="span9">

            </div>
        </div>
        
    </div>

</body>

</html>
