
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    @*<title>Hello Word</title>*@
</head>

<body>

    @Html.Partial("_MenuSuperior")

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                @Html.Action("Index", "Menu")
            </div>
            <div class="span9">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts",false)
</body>
</html>
